*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ============ COMMON ============ */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width:1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ============ HEADER STYLES ============ */

.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

.logo {
  display: block;
  padding: 16px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

}

.logo-part {
  color: #2e2f42;
}

.navigation {
  margin-right: auto;
}

.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.mobile-open-btn-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }

  .logo {
    padding: 24 0;
    margin-right: 120px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404BBF;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404BBF;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ============ HERO STYLES ============ */
.hero {
  background-color: #2e2f42;
  background-clip: padding-box;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/people-office-mobile.jpg);
  background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile@2x.jpg)
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet@2x.jpg)
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    min-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg)
  }
}

.main-taitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  min-width: 160px;
  margin: 0 auto 72px auto;
}

.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover {
  background-color: #404BBF;
}

.order-service-btn:focus {
  background-color: #404BBF;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-taitle {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 36px;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
}

/* ============ BENEFITS STYLES ============ */

.benefits-title {
  padding: 96px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  flex-direction: column;
  gap: 72px;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefits-list-item {
  padding-bottom: 72px;
}

.icon-top {
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: none;
}

@media (min-width: 768px) {
  .benefits-list {
    column-count: 2;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .benefits-list-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .benefits-title {
    padding: 120px 0;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .icon-top {
    display: flex;
  }
}

/* ============ OUR TEAM STYLES ============ */

.container-our-team {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team {
  background-color: #F4F4FD;

}

.our-team-list-list {
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.our-team-list-item {
  margin-bottom: 72px;
  width: 264px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66,
      0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 96px;
  margin-bottom: 72px;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-people {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-page {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;

}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.list-link {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .our-team {
    background-color: #f4f4fd;
  }

  .our-team-list-list {
    display: flex;
    gap: 24px;
    row-gap: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-our-team {
    padding: 0;
  }
}

@media (min-width: 1158px) {
  .team {
    padding-left: 0;
    padding-right: 0;
  }
}

/* ============ OUR PORTFOLIO STYLES ============ */

.section-portfolio {

  padding-bottom: 96px;
}

.portfolio-list {
  flex-direction: column;
  gap: 48px;
  display: flex;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

}


.portfolio-page {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text-page {
  padding: 32px 0;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-img {

  max-width: 100%;
  height: auto;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list-item {

  background-color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;

}

.portfolio-list-item:hover .text-overlay {
  transform: translateY(0%);
}

@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ============ FOOTER STYLES ============ */


.page-footer .container {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.text-footer {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.social-links-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-icons-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.footer-page-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box-email {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-form-imput {
  letter-spacing: 0.04em;
  line-height: 2;
  font-size: 12px;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #2e2f42;
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-imput:focus {
  background-color: #FFFFFF;
}

.footer-form-imput::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-left: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
}

.footer-btn-picture {
  margin-left: 16px;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }







}